
<div class="jumbotron center">
	<h1>About Me</h1>
	<p>I am working on my One Month Rails "Pugterest" app!</p>
	<p>This app will be for sharing pictures of pugs!</p>
	<p>Through Pugterest, everyone will be able to look at pugs all day, every day!</p>
</div>