
<div class="jumbotron center">
	<h1>Welcome to Pugterest!</h1>

	<% if user_signed_in? %>
		<h2>You got in! Great job!</h2>
	<% else %>
		<p>
			<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %> <!--if user_signed_in?-->

</div>
